name: Build

on:
  workflow_call:

  push:
    branches: [main]

  pull_request:
    branches: [main]

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-go:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup Go environment
        uses: actions/setup-go@v4.0.1
        with:
          go-version: '1.20'

      - name: Build go project
        run: |
          make build

  build-docker:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Build docker image
        run: |
          docker build .

  build-proto:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Find changed proto files
        id: changed-proto-files
        uses: tj-actions/changed-files@v37.6.1
        with:
          files: |
            proto/**/*.proto

      - name: Setup buf
        if: steps.changed-proto-files.outputs.any_changed == 'true'
        uses: bufbuild/buf-setup-action@v1.23.1

      - name: Build and generate proto
        if: steps.changed-proto-files.outputs.any_changed == 'true'
        run: |
          make proto-gen
