name: Build

on:
  workflow_call:

  push:
    branches: [main]

  pull_request:
    branches: [main]

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-go:
    strategy:
      matrix:
        environment: [darwin-amd64, darwin-arm64, linux-amd64]
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup Go environment
        uses: actions/setup-go@v3.2.0
        with:
          go-version: "1.18.2"

      - name: Build go project
        run: |
          make build-go-${{ matrix.environment }}

  build-docker:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Build docker image
        run: |
          docker build .
