name: Test

on:
  workflow_call:

  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test-go:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Setup Go environment
        uses: actions/setup-go@v2.2.0
        with:
          go-version: "1.17.6"

      - name: Test go project
        run: |
          make test-go
