name: Test E2E

on: {}
#  push:
#    branches:
#      - main
#  pull_request:
#    branches:
#      - main

concurrency:
  group: e2e-test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5.4.0
        with:
          go-version: "1.23"

      - name: Setup Test infra
        id: starship-action
        uses: cosmology-tech/starship-action@0.5.9
        with:
          values: starship/configs/ci.yaml
          port-forward: true
          version: 0.1.38

      - name: Run Tests
        run: |
          cd starship/

          make test

      # todo(@anmol1696): change this to be post step of the action
      - name: Clean cluster
        if: always()
        run: |
          helm delete $DEVNET_NAME --debug --namespace $DEVNET_NAMESPACE --wait || true
          kubectl delete namespace $DEVNET_NAMESPACE --wait=true || true
        env:
          DEVNET_NAME: ${{ steps.starship-action.outputs.name }}
          DEVNET_NAMESPACE: ${{ steps.starship-action.outputs.namespace }}
